{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Products list</h1>

    {% for product in products %}
        {{ product.id }} | {{ product.title }} |
        <a href="{{ path('show_product_by_id', {'productId': product.id}) }}">details</a> |
        <a href="{{ path('edit_product', {'productId': product.id}) }}">edit</a> |
        <a href="{{ path('delete_product', {'productId': product.id}) }}" onclick="return confirm('Are you sure?')">delete</a><br>
    {% endfor %}

    <a href="{{ path('add_product') }}">add new</a>

</div>
{% endblock %}
