{# templates/product/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Product #{{ product.id }} details{% endblock %}

{% block body %}

    <h1>Product #{{ product.id }} details</h1>

    <p>Category: <b>{{ product.category.name }}</b></p>
    <p>Title: <b>{{ product.title }}</b></p>
    <p>Description: <b>{{ product.description }}</b></p>
    <p>Price: <b>{{ product.price }}</b></p>

    <a href="{{ path('show_products_list') }}">Back to list</a>

{% endblock %}
